{% extends "layout.html" %}
{% block content %}

<div class="card border-info">
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Dinner</th>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
              </tr>
              <tr>
                <th scope="row">Lunch</th>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
              </tr>
              <tr>
                <th scope="row">Breakfast</th>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
              </tr>
              <tr>
                <th scope="row">Fruit</th>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select">
                        <option selected>Choose: </option>
                        {% for recipe in recipes %}
                            <option value={{recipe}}>{{recipe}}</option>
                        {% endfor %}
                    </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="text-align: center;">
            <button type="button" class="btn btn-info" style="text-align: center;">Finalize</button>
        </div>
    </div>
</div>
<br>

<div class="card border-info">
    <div class="card-header">SHOPPING LIST</div>
    <p></p>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-2">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">SunWah</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Aldi/Proxy</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Butcher</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}